<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleURLName</key>
        <string>com.warren.bloomflamenova</string>
        <key>CFBundleURLSchemes</key>
        <array/>
      </dict>
    </array>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoadsInWebContent</key>
      <true/>
    </dict>
    <key>UILaunchScreen</key>
    <false/>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app requires access to your location to clock in and clock out of shifts.</string>
    <key>NSCameraUsageDescription</key>
    <string>Camera access is required to scan barcodes and QR codes.</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>processing</string>
    </array>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
      <string>com.nativephp.background-tasks.refresh</string>
      <string>com.nativephp.background-tasks.processing</string>
    </array>
  </dict>
</plist>
